mixin footer(isMainPage)
  footer.footer
    .wrapper
      .footer-left
        span(class=(isMainPage) ? 'animation animation-group-2' : '') ООО «ГОРИЗОНТ» 2014-2018
      .footer-right
        span(class=(isMainPage) ? 'animation animation-group-2' : '').
          Разработка и техподдержка сайта: <a href="#">Югорские Интернет Решения</a>
