footer.footer
  .wrapper
    .footer-left
      span.animation.animation-group-2 ООО «ГОРИЗОНТ» 2014-2018
    .footer-right
      span.animation.animation-group-2.
        Разработка и техподдержка сайта: <a href="#">Югорские Интернет Решения</a>
