extends layout

include mixins/header
include mixins/footer

block loader
  .loader.js-loader
    .loader__img
    .loader__line
      span

block scripts
  script(src="js/vendor/scrollmagic/scrollmagic.min.js")
  script(src="js/app/animation.js")

block content

  -
    var services = [
      'Геологоразведочные, геофизические и геохимические работы в области изучения недр',
      'Монтаж, демонтаж, ремонт буровых установок',
      'Строительство и содержание зимников',
      'Перевозка грузов специализированным транспортом',
      'Организация общественного питания',
      'Техническая и биологическая рекультивация буровых площадок',
      'Промышленно-гражданское строительство',
      'Тампонажные и ремонтно изоляционные работы при проводке скважин',
      'Поставка ГСМ',
      'Хранение ГСМ',
      'Перевалка с воды',
      'Вывоз ТБО'
    ]

  +header(true)
  main.main
    .wrapper
      .flex.align-center.space-b
        h2 Услуги компании
        a(href="#").link.more Подробнее об услугах
      .services
        each item, index in services
          .services__item.animation.animation-group-1
            img(src='images/svg/services-' + (index + 1) + '.svg')
            p
              b= item
        #animation-trigger-2.abs.abs-20
    .clients.animation.animation-group-2
      .wrapper
        .clients-left
          each item in [1, 2, 3, 4, 5, 6, 7, 8, 9]
            if (item === 1)
              button(type="button",
              data-target='#client-' + item).clients__button.js-clients.animation.animation-group-2.active
                img(src='images/client-' + item + '.png')
            else
              button(type="button",
              data-target='#client-' + item).clients__button.js-clients.animation.animation-group-2
                img(src='images/client-' + item + '.png')
        .clients-right
          .clients-top.animation.animation-group-2 Наши заказчики
          section.clients-area
            h2.animation.animation-group-2 ООО «РН-Уватнефтегаз»
            p.animation.animation-group-2.
              ООО «РН-Уватнефтегаз» занимается разведкой и добычей углеводородов на
              11 лицензионных участках на юге Тюменской области (Уватский муниципальный
              район), 7 лицензионных участках в Ханты-Мансийском автономном округе –
              Югре, 1 лицензионном участке в Омской области
        each item in [1, 2, 3, 4, 5, 6, 7, 8, 9]
          div(id='client-' + item, hidden)
            if (item % 2 === 0)
              h2 ООО «ЧЧ-ПриветГаз»
              p.
                С другой стороны начало повседневной работы по формированию позиции
                позволяет выполнять важные задания по разработке форм развития.
                Задача организации, в особенности же дальнейшее развитие различных
                форм деятельности влечет за собой процесс внедрения и модернизации
                систем массового участия. Таким образом реализация намеченных плановых
                заданий требуют определения и уточнения соответствующий условий активизации.
            else
              h2 ООО «РН-Уватнефтегаз»
              p.
                ООО «РН-Уватнефтегаз» занимается разведкой и добычей углеводородов на
                11 лицензионных участках на юге Тюменской области (Уватский муниципальный
                район), 7 лицензионных участках в Ханты-Мансийском автономном округе –
                Югре, 1 лицензионном участке в Омской области
  +footer(true)
