extends layout

include mixins/header

block content

  +header(false)
  main.main
    .detail.wrapper

      h1 Заголовок H1
      h2 Заголовок H2
      h3 Заголовок H3
      h4 Заголовок H4

      br

      p ООО «ГОРИЗОНТ» создано 06.12.2014 году.
      p.
        Компания расположена в посёлке Горноправдинск Ханты-Мансийского района
        Тюменской области. Горноправдинск находится на правом берегу р.Иртыш
        в 156 км от г.Ханты-Мансийска. Удобное месторасположение компании
        даёт возможность пользоваться всеми видами транспорта:
        <a href="#">автомобильным</a>, <a href="#">речным</a>,
        <a href="#">авиационным</a>, <a href="#">железнодорожным</a>.
      p Пример отображения <a href="#">ссылки</a> в тексте.

      br
      br

      h2 Аккордеон
      .accordion-block
        .accordion
          button(type="button").accordion__button.js-accordion.
            В области промышленной безопасности, охраны труда, окружающей среды
            и землепользования (Свернутое состояние) 1 вариант
          .accordion-hidden
            h4.
              Принципы политики компании в области промышленной безопасности,
              охраны труда и окружающей среды:
            ul
              li Наш вид деятельности связан с  источниками повышенной опасности.
              li.
                Компания стремится сделать бизнес безопасным для работников,
                клиентов и окружающей среды.
              li.
                Высокая степень ответственности каждого работника за предотвращение
                несчастных случаев, травм и профессиональных заболеваний – залог
                безопасной и успешного бизнеса Компании.
              li.
                Снижение рисков в сфере промышленной безопасности и охраны труда
                напрямую связано с уровнем системы управления, внедрения
                современных технологий и культуры производств
              li.
                Предприятие руководствуется законами и нормативно-правовыми актами
                РФ, территориальных  и органов местного управления, осуществляющих
                контроль в области промышленной безопасности, охраны окружающей
                среды и землепользованию.
            h4.
              Цели политики в области промышленной безопасности, охраны труда и
              окружающей среды:
            ul
              li.
                Выявление и снижение возможных угроз для здоровья персонала в
                процессе осуществления производственной деятельности.
              li.
                Создание благоприятных, безопасных условий труда, охрана здоровья
                работников, предупреждение экологической опасности.
              li Повышение квалификации рабочего персонала, культуры производства.
            p.
              Предприятие планирует и в дальнейшем совершенствовать корпоративные
              стандарты в области охраны труда и окружающей среды.
            p.
              Разработка и внедрение публичной политики промышленной безопасности,
              безопасности дорожного движения, охраны труда и окружающей среды,
              поможет снизить тяжесть несчастных случаев и предотвратить
              возникновение нестандартных ситуаций на производстве.
        .accordion
          button(type="button").accordion__button.js-accordion.active.
            В области промышленной безопасности, охраны труда, окружающей среды
            и землепользования (Развернутое состояние) 1 вариант
          .accordion-hidden(style="display: block")
            h4.
              Принципы политики компании в области промышленной безопасности,
              охраны труда и окружающей среды:
            ul
              li Наш вид деятельности связан с  источниками повышенной опасности.
              li.
                Компания стремится сделать бизнес безопасным для работников,
                клиентов и окружающей среды.
              li.
                Высокая степень ответственности каждого работника за предотвращение
                несчастных случаев, травм и профессиональных заболеваний – залог
                безопасной и успешного бизнеса Компании.
              li.
                Снижение рисков в сфере промышленной безопасности и охраны труда
                напрямую связано с уровнем системы управления, внедрения
                современных технологий и культуры производств
              li.
                Предприятие руководствуется законами и нормативно-правовыми актами
                РФ, территориальных  и органов местного управления, осуществляющих
                контроль в области промышленной безопасности, охраны окружающей
                среды и землепользованию.
            h4.
              Цели политики в области промышленной безопасности, охраны труда и
              окружающей среды:
            ul
              li.
                Выявление и снижение возможных угроз для здоровья персонала в
                процессе осуществления производственной деятельности.
              li.
                Создание благоприятных, безопасных условий труда, охрана здоровья
                работников, предупреждение экологической опасности.
              li Повышение квалификации рабочего персонала, культуры производства.
            p.
              Предприятие планирует и в дальнейшем совершенствовать корпоративные
              стандарты в области охраны труда и окружающей среды.
            p.
              Разработка и внедрение публичной политики промышленной безопасности,
              безопасности дорожного движения, охраны труда и окружающей среды,
              поможет снизить тяжесть несчастных случаев и предотвратить
              возникновение нестандартных ситуаций на производстве.
        .accordion
          button(type="button").accordion__button.js-accordion
            | Маркетинговая политика (Свернутое состояние) 2 вариант
          .accordion-hidden
            .list-flex
              h4 Принципы маркетинговой политики:
              ul
                li Бизнес клиентов является нашей основной заботой.
                li То, что мы делаем - это важный вклад в дело клиента.
                li.
                  Взаимовыгодные отношения с клиентом - основа нашего
                  процветания и благополучия.
                li Успех клиента – это и наш успех!
            .list-flex
              h4 Цели маркетинговой политики:
              ul
                li Увеличение выручки на рынках.
                li Увеличение доли доходных рынков.
                li Сокращение доли нерентабельных и низкодоходных рынков.
                li Укрепление репутации высокопрофессиональной и надежной компании.
                li Пролонгация долгосрочных контрактов.
            p.
              Компания признает основным видом деятельности – поисково-оценочное
              бурение скважин под ключ.
        .accordion
          button(type="button").accordion__button.js-accordion.active
            | Маркетинговая политика (Развернутое состояние) 2 вариант
          .accordion-hidden(style="display: block")
            .list-flex
              h4 Принципы маркетинговой политики:
              ul
                li Бизнес клиентов является нашей основной заботой.
                li То, что мы делаем - это важный вклад в дело клиента.
                li.
                  Взаимовыгодные отношения с клиентом - основа нашего
                  процветания и благополучия.
                li Успех клиента – это и наш успех!
            .list-flex
              h4 Цели маркетинговой политики:
              ul
                li Увеличение выручки на рынках.
                li Увеличение доли доходных рынков.
                li Сокращение доли нерентабельных и низкодоходных рынков.
                li Укрепление репутации высокопрофессиональной и надежной компании.
                li Пролонгация долгосрочных контрактов.
            p.
              Компания признает основным видом деятельности – поисково-оценочное
              бурение скважин под ключ.


























